{% extends 'Admin/index.html.twig' %}

{% block adminBody %}
	
	<div class="container">
		{{ form_start(form) }}
		<div class="well">
			
			<div class="form-group row">
				{{ form_label(form.name, "Titre du lien", {'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
			
				
				<div class="col-sm-6">	
					{{ form_errors(form.name) }}
					{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>	
			</div>
			<div class="form-group row">
				{{ form_label(form.url, "Url du lien", {'label_attr': { 'class': 'col-sm-2 control-label' }}) }}
				<div class="col-sm-6">
					{{ form_errors(form.url) }}
					{{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
		

		<input type="submit" name="menu" value="Modifier menu" class="btn btn-info">
		{{ form_end(form)}}

		</div>
		
		
	</div>
	
{% endblock %}